constraints: HUnit ==1.5.0.0,
             MonadCatchIO-transformers ==0.3.1.3,
             MonadRandom ==0.4.2.3,
             StateVar ==1.1.0.4,
             acid-state ==0.12.4,
             adjunctions ==4.3,
             aeson ==0.11.2.1,
             amqp ==0.6.0,
             array ==0.5.1.0,
             async ==2.1.1,
             attoparsec ==0.13.1.0,
             attoparsec-enumerator ==0.3.4,
             base ==4.8.2.0,
             base-orphans ==0.5.4,
             base64-bytestring ==1.0.0.1,
             bifunctors ==5.4.1,
             binary ==0.7.5.0,
             blaze-builder ==0.4.0.2,
             blaze-builder-enumerator ==0.2.1.0,
             blaze-html ==0.8.1.3,
             blaze-markup ==0.7.1.1,
             byteable ==0.1.1,
             bytestring ==0.10.6.0,
             bytestring-builder ==0.10.8.1.0,
             bytestring-mmap ==0.2.2,
             call-stack ==0.1.0,
             case-insensitive ==1.2.0.7,
             cereal ==0.4.1.1,
             cipher-aes ==0.2.11,
             clientsession ==0.9.1.2,
             comonad ==4.2.7.2,
             configurator ==0.3.0.0,
             containers ==0.5.6.2,
             contravariant ==1.4,
             cprng-aes ==0.6.1,
             crypto-api ==0.13.2,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.9,
             cryptohash ==0.11.9,
             cryptonite ==0.20,
             data-binary-ieee754 ==0.4.4,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             directory-tree ==0.12.1,
             distributive ==0.5.0.2,
             dlist ==0.7.1.2,
             either ==4.4.1.1,
             entropy ==0.3.7,
             enumerator ==0.4.20,
             exceptions ==0.8.3,
             extensible-exceptions ==0.1.1.4,
             fail ==4.9.0.0,
             filepath ==1.4.0.0,
             free ==4.12.4,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             heist ==0.14.1.4,
             integer-gmp ==1.0.0.0,
             kan-extensions ==5.0.1,
             lens ==4.13.2.1,
             logict ==0.6.0.2,
             map-syntax ==0.2.0.1,
             memory ==0.13,
             mmorph ==1.0.9,
             monad-control ==1.0.1.0,
             monads-tf ==0.1.0.3,
             mtl ==2.2.1,
             mwc-random ==0.13.5.0,
             network ==2.6.3.1,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parallel ==3.2.1.0,
             parsec ==3.1.11,
             prelude-extras ==0.4.0.3,
             pretty ==1.1.2.0,
             primitive ==0.6.1.0,
             process ==1.2.3.0,
             profunctors ==5.2,
             pwstore-fast ==2.4.4,
             random ==1.1,
             reflection ==2.1.2,
             regex-base ==0.93.2,
             regex-posix ==0.95.2,
             rts ==1.0,
             safecopy ==0.8.6,
             scientific ==0.3.4.9,
             securemem ==0.1.9,
             semigroupoids ==5.1,
             semigroups ==0.18.2,
             setenv ==0.1.1.3,
             skein ==1.0.9.4,
             snap ==0.14.0.7,
             snap-core ==0.9.8.0,
             snap-server ==0.9.5.1,
             snaplet-acid-state ==0.2.7,
             stm ==2.4.4.1,
             streaming-commons ==0.1.16,
             syb ==0.6,
             tagged ==0.8.5,
             template-haskell ==2.10.0.0,
             text ==1.2.2.1,
             time ==1.5.0.1,
             transformers ==0.4.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             unix ==2.7.1.0,
             unix-compat ==0.4.3.1,
             unordered-containers ==0.2.7.1,
             vector ==0.11.0.0,
             vector-algorithms ==0.7.0.1,
             void ==0.7.1,
             xml ==1.3.14,
             xmlhtml ==0.2.3.5,
             zlib ==0.6.1.2,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
